.container {
  display: grid;
  place-items: center;
  place-items: center;
  ul {
    background-color: #1345903a;
    width: 85%;
    padding: 1rem;
    border-radius: 16px;
    list-style: none;
    h2 {
      color: aliceblue;
      text-align: center;
      font-size: clamp(1rem, 4vw, 6vw);
    }
  }
  .skills {
    font-size: 0.8rem;
    color: azure;
  }
  .percentage {
    position: relative;
    font-size: 0.6rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}
.percentage::before {
  content: "";
  position: absolute;
  background: linear-gradient(to left,#d500f9 , #00ccff 80%, #d500f9);
  margin-top: 2px;
  margin-left: -2px;
  border-radius: 12px;
  width: 0;
  height: 1rem;
  top: -5px;
  z-index: -1;
  animation: expand 4s linear forwards;
  animation-timeline: view(600px 0px);
}
@keyframes expand {
  from {
    width: 0px;
  }
  to {
    width: inherit;
  }
}
